.App {
    max-width: 1080px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
header ul {
    display: flex;
    list-style-type: none;
}
header ul li {
    margin-right: 20px;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}
